{{JINJA_TREE_STYLE1_GENERATED_COMMENT}}

# stlog-fastapi-middlewares

![Python Badge](https://raw.githubusercontent.com/fabien-marty/common/refs/heads/main/badges/python310plus.svg)
[![UV Badge](https://raw.githubusercontent.com/fabien-marty/common/refs/heads/main/badges/uv.svg)](https://docs.astral.sh/uv/)
[![Mergify Badge](https://raw.githubusercontent.com/fabien-marty/common/refs/heads/main/badges/mergify.svg)](https://mergify.com/)
[![Renovate Badge](https://raw.githubusercontent.com/fabien-marty/common/refs/heads/main/badges/renovate.svg)](https://docs.renovatebot.com/)
[![MIT Licensed](https://raw.githubusercontent.com/fabien-marty/common/refs/heads/main/badges/mit.svg)](https://en.wikipedia.org/wiki/MIT_License)

FastAPI/starlette middlewares to improve logging with [stlog](https://github.com/fabien-marty/stlog) library.

## Installation

`pip install stlog-fastapi-middlewares`

(or equivalent command for your favorite package manager)

## Usage (with FastAPI)

```python
{{ "cat usage.py"|shell() }}
```
